/* src/app/Components/visualizador/visualizador.component.css */
.visualizador {
    margin: 20px 0;
}

.square {
    width: 100px;
    height: 100px;
    background-color: lightblue;
    transition: background-color 0.5s ease, transform 0.5s ease;
    /* Transición suave */
    opacity: 1;
    /* Comienza visible */
}

.circle {
    width: 100px;
    height: 100px;
    background-color: lightblue;
    border-radius: 50%;
    /* Hace que el cuadrado se convierta en un círculo */
    transition: background-color 0.5s ease, transform 0.5s ease;
    /* Transición suave */
    opacity: 1;
    /* Comienza visible */
}

/* src/app/Components/visualizador/visualizador.component.css */

.shape {
    width: 100px;
    /* Ajusta según sea necesario */
    height: 100px;
    /* Ajusta según sea necesario */
    background-color: #4CAF50;
    /* Color inicial */
    transition: background-color 0.3s ease;
    /* Transición suave para cambios de color */
}

.message {
    color: var(--color-green);
    /* Color por defecto */
    font-size: 1.2em;
    margin-top: 10px;
}

/* Nueva clase para mensajes de cancelación */
.message-canceled {
    color: #ff0000;
    /* Rojo */
}