/* src/app/Components/visualizador/visualizador.component.css */
.visualizador-container {
    background-color: #f0f0f0;
    /* Fondo suave en modo claro */
    border: 2px solid #ccc;
    /* Borde del visualizador */
    border-radius: 10px;
    /* Bordes redondeados */
    padding: 20px;
    /* Espaciado interno */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    /* Sombra para dar profundidad */
    transition: all 0.3s;
    /* Transición suave para los cambios */
    color: #333;
    /* Color de texto oscuro para mejor legibilidad */
}

/* Estilos específicos para el modo oscuro */
.dark-mode .visualizador-container {
    background-color: #1e1e1e;
    /* Fondo oscuro del visualizador */
    border: 2px solid #444;
    /* Borde más oscuro */
    color: #ffffff;
    /* Texto claro en el visualizador */
}

.dark-mode .visualizador-container .message {
    font-weight: bold;
    /* Mensaje en negrita */
}

.dark-mode .visualizador-container .square {
    border: 2px solid #007BFF;
    /* Borde azul para el cuadrado */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    /* Sombra para el cuadrado */
}

.square {
    width: 100px;
    height: 100px;
    background-color: lightblue;
    transition: background-color 0.5s ease, transform 0.5s ease;
    /* Transición suave */
    opacity: 1;
    /* Comienza visible */
}

.circle {
    width: 100px;
    height: 100px;
    background-color: lightblue;
    border-radius: 50%;
    /* Hace que el cuadrado se convierta en un círculo */
    transition: background-color 0.5s ease, transform 0.5s ease;
    /* Transición suave */
    opacity: 1;
    /* Comienza visible */
}

.message {
    color: var(--color-green);
    /* Color por defecto */
    font-size: 1.2em;
    margin-top: 10px;
}

/* Nueva clase para mensajes de cancelación */
.message-canceled {
    color: #ff0000;
    /* Rojo */
}

/* Estilos específicos para el modo oscuro */
.dark-mode .message {
    color: #ffffff;
    /* Color de texto claro en modo oscuro */
}