/* src/app/Components/visualizador/visualizador.component.css */
.color-box {
    width: 100px;
    height: 100px;
    border: 1px solid #000;
}

.circle {
    border-radius: 50%;
    /* Hace que el cuadrado sea un círculo */
}