<!-- src/app/Components/Inputs/password/password.component.html -->
<div class="shape">
    <label for="password">Contraseña:</label>
    <input [(ngModel)]="password" (input)="onPasswordInput($event)" class="input"
        [ngClass]="{'input-error': passwordStrength === 'Muy débil', 'input-warning': passwordStrength === 'Débil', 'input-success': passwordStrength === 'Fuerte'}">
</div>

<div>
    <strong>Fuerza de la contraseña:</strong> {{ passwordStrength }}
    <span *ngIf="passwordStrength === 'Muy débil'"> (Mínimo 6 caracteres)</span>
    <span *ngIf="passwordStrength === 'Débil'"> (Mínimo 8 caracteres)</span>
    <span *ngIf="passwordStrength === 'Moderada'"> (Mínimo 10 caracteres)</span>
    <span *ngIf="passwordStrength === 'Fuerte'"> (Excelente)</span>
</div>