/* src/app/Components/Botones/cancelar-btn/cancelar-btn.component.css */
button {
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.button {
    background-color: var(--color-primary-red);
    border: 2px solid white;
    color: var(--color-text-dark);
    font-family: 'Sacramento', cursive;
}

button:hover {
    background-color: #45a049;
    /* Cambia el color de fondo al pasar el mouse */
    transform: scale(1.05);
    /* Aumenta ligeramente el tamaño del botón */
}