<div>
    <app-email (emailChange)="handleEmailChange($event)"></app-email>
    <app-password (passwordChange)="handlePasswordChange($event)"></app-password>
    <app-text (textChange)="handleTextChange($event)"></app-text>

    <app-first-btn (colorChange)="handleColorChange()"></app-first-btn>
    <app-second-btn (shapeChange)="handleShapeChange()"></app-second-btn>
    <app-aceptar-btn (accepted)="handleAccepted()"></app-aceptar-btn>
    <app-cancelar-btn (canceled)="handleCanceled()"></app-cancelar-btn>

    <app-visualizador *ngIf="showVisualizer"></app-visualizador>
</div>