/* src/app/Components/view/view.component.css */
.container {
    display: flex;
    flex-direction: row;
    /* Para tener controles a la izquierda y visualizador a la derecha */
    gap: 20px;
    /* Espacio entre controles y visualizador */
}

.controls {
    flex: 1;
    /* Ocupa la mitad izquierda */
    padding: 20px;
    background-color: #f2f2f2;
    /* Color de fondo para los controles */
    border: 1px solid #ccc;
    /* Borde alrededor de los controles */
    border-radius: 8px;
    /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Sombra suave */
}

.visualizador {
    flex: 1;
    /* Ocupa la mitad derecha */
    padding: 20px;
    background-color: #fff;
    /* Color de fondo para el visualizador */
    border: 1px solid #ccc;
    /* Borde alrededor del visualizador */
    border-radius: 8px;
    /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Sombra suave */
    display: flex;
    justify-content: center;
    /* Centrar contenido dentro del visualizador */
    align-items: center;
    /* Centrar contenido verticalmente */
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        /* Cambia a columna en pantallas pequeñas */
    }

    .controls,
    .visualizador {
        width: 100%;
        /* Ocupa el 100% del ancho en pantallas pequeñas */
        margin-bottom: 20px;
        /* Espacio entre controles y visualizador */
    }
}