/* src/app/Components/view/view.component.css */
.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centra el contenido horizontalmente */
    padding: 30px;
    /* Espaciado interno */
    max-width: 800px;
    /* Ancho máximo */
    margin: auto;
    /* Centrar el contenedor */
    border-radius: 15px;
    /* Bordes redondeados */
    transition: background-color 0.3s;
    /* Transición suave para el fondo */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    /* Sombra para dar profundidad */
}

/* Controles */
.controls {
    width: 100%;
    /* Ancho completo */
    display: flex;
    flex-direction: column;
    /* Coloca los elementos en columna */
    gap: 15px;
    /* Espaciado entre los controles */
}

/* Agrupación de botones */
.button-group {
    display: flex;
    justify-content: space-around;
    /* Distribuye los botones */
    flex-wrap: wrap;
    /* Permite que los botones se muevan a la siguiente línea si es necesario */
}

/* Estilos para el visualizador */
app-visualizador {
    
    margin-top: 30px;
    /* Espaciado superior */
    width: 100%;
    /* Ancho completo */
    max-height: 400px;
    /* Altura máxima */
    border-radius: 10px;
    /* Bordes redondeados */
    overflow: hidden;
    /* Oculta el desbordamiento */
}

/* Estilos específicos para el modo oscuro */
.dark-mode .title {
    color: #ffffff;
    /* Título claro en modo oscuro */
}

.dark-mode .app-container {
    border-color: var(--color-accent-gold);
    background-color: #1e1e1e;
    /* Fondo oscuro para el contenedor */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    /* Sombra más pronunciada */
}

.left-column {
    flex: 1;
    /* Toma el espacio disponible */
    margin-right: 20px;
    /* Espacio entre columnas */
}

.right-column {
    flex: 2;
    /* Toma más espacio que la columna izquierda */
    display: flex;
    justify-content: center;
    align-items: center;
}

.visualizador {
    border: 2px solid var(--color-accent-blue);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    background-color: var(--color-background-light);
    transition: background-color var(--transition);
}

.dark-mode .visualizador {
    background-color: var(--color-background-dark);
}

.message {
    color: var(--color-green);
    /* Color por defecto */
    font-size: 1.2em;
    margin-top: 10px;
}