/* src/app/Components/view/view.component.css */
.container {
    display: flex;
    flex-direction: row;
    /* Para tener controles a la izquierda y visualizador a la derecha */
    gap: 20px;
    /* Espacio entre controles y visualizador */
}

.controls {
    flex: 1;
    /* Ocupa la mitad izquierda */
    padding: 20px;
    background-color: #993c3c;
    /* Color de fondo para los controles */
    border: 1px solid #ccc;
    /* Borde alrededor de los controles */
    border-radius: 8px;
    /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Sombra suave */
}



.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
    /* Permite que los elementos se ajusten en pantallas pequeñas */
}

.left-column {
    flex: 1;
    /* Toma el espacio disponible */
    margin-right: 20px;
    /* Espacio entre columnas */
}

.right-column {
    flex: 2;
    /* Toma más espacio que la columna izquierda */
    display: flex;
    justify-content: center;
    align-items: center;
}

.visualizador {
    border: 2px solid var(--color-accent-blue);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    background-color: var(--color-background-light);
    transition: background-color var(--transition);
}

.dark-mode .visualizador {
    background-color: var(--color-background-dark);
}

.message {
    color: var(--color-green);
    /* Color por defecto */
    font-size: 1.2em;
    margin-top: 10px;
}