.input-container {
    margin: 10px 0;
}

.input {
    border: 2px solid var(--color-primary-green);
    border-radius: 25px;
    padding: 10px;
    margin: 10px 0;
    transition: border-color var(--transition), box-shadow var(--transition);
}


.input:focus {
    border-color: var(--color-accent-gold);
    box-shadow: 0 0 5px var(--color-accent-gold);
}

.error {
    color: #ff4500;
    /* Color de error */
    font-size: 0.9em;
    /* Tamaño de fuente más pequeño */
}
