/* src/app/Components/Botones/aceptar-btn/aceptar-btn.component.css */
button {
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.button {
    background-color: var(--color-primary-green);
    border: 2px solid var(--color-accent-gold);
    color: var(--color-text-dark);
    font-family: 'Sacramento', cursive;
}

button:hover {
    background-color: #45a049;
    /* Cambia el color de fondo al pasar el mouse */
    transform: scale(1.05);
    /* Aumenta ligeramente el tamaño del botón */
}

.button {
    border-radius: 5px;
    /* Bordes redondeados */
    padding: 10px 15px;
    /* Espaciado interno */
    font-size: 26px;
    /* Tamaño de fuente */
    cursor: pointer;
    /* Cambia el cursor al pasar sobre el botón */
    transition: background-color 0.3s, transform 0.2s;
    /* Transiciones suaves */
}



/* Estilos específicos para el modo oscuro */
.dark-mode .button {
    background-color: #0056b3;
    /* Color de fondo más oscuro en modo oscuro */
    color: #ffffff;
    /* Texto claro en el botón */
}

.dark-mode .button:hover {
    background-color: #004494;
    /* Color aún más oscuro al pasar el mouse */
}